.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rostro {
    fill: rgb(255, 255, 108); 
    stroke: #000; 
    stroke-width: 2;
}

.ojo {
    fill: #000000; 
    stroke: #000; 
    stroke-width: 2;
    transition: fill 0.3s;
}

.boca {
    fill: black;
    stroke: #000;
    stroke-width: 2;
}

.ceja {
    stroke: #000; 
    stroke-width: 6; 
}

.ojo:hover {
    fill: white;
}
